*{
    margin:0;
    padding:0;
}

body {
    font-family: Arial, sans-serif;   
}

.slider{
    width:100%;
    min-height:80vh;
    aspect-ratio:16/9;
    background:#000;
    position: relative;
}

.slider-background{
    width:100%;
    height:100%;
    object-fit: cover;
    filter:brightness(50%);
}
.slider-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

h1{
    color:#FFF;
    font-size:5rem;   
}

h2{
    white-space: nowrap;
    margin-right: 40px;
    font-size:3rem;
    margin-bottom:100px;
}

p{
    font-size:1.5rem;
    line-height:1.5em;
}

.slider-content p{
    color:#FFF;
    font-size:2rem;
    font-weight:300;
}

.section{
    padding: 100px 0;
}
.boxed{
    max-width:1280px;
    margin-inline:auto;
}

.flex{
    display:flex;
}

.dark{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/pngtree-futuristic-3d-rendering-computer-screen-terminal-hacking-with-running-programming-code-picture-image_13282531.png);
    background-size:cover;
    background-position-y: 50%;
    color:#FFF;
}

.w40{
    width:40%;
}

.w60{
    width:60%;
}

.text-center{
    text-align: center;
}

.w25{
    width:25%;
}

.space-between{
    justify-content: space-between;
}

.gap20{
    gap:20px;
}

.skill{
   background:#FFF;
   border-radius:15px;
   padding:20px;
   box-sizing:border-box;
}

.skill img {
    width:100px;
    height:100px;
    aspect-ratio:1/1;
    object-fit:contain;
}

.skill h3{
    color: #000;
    margin-top:10px;
}

.aligncenter{
    align-items: center;
}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background:#FFF;
    z-index:999;
    padding-block:10px;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.7);
}

.header-logo{
    display: block;
}

.header-logo img{
    width:80px;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu li a{
    text-decoration: none;
    color: #000;
    padding:10px;
    display: block;
    box-sizing: border-box;
    transition:.2s ease;
}

.header-menu li a:hover{
    background-color: #F2F2F2;
}
.header-menu-mobile{
    display: none;
}
.header-menu-mobile-exit{
    display: none;
}

@media(max-width:810px) {

    header{
       height: 60px !important;
    }
    .header-menu-mobile{
        display: block;
        border:0px;
        background-color: #FFF;
        position: absolute;
        left: 5%;
        top:50%;
        transform: translateY(-50%);
    }

    .header-menu-mobile-exit{
        display: block;
        border:0px;
        background-color: #FFF;
        position: absolute;
        right: 5%;
        top:50%;
        transform: translateY(-50%);
        
    }
  
   .header-logo{
       position: absolute;
       left: 50%;
       top:50%;
       transform: translate(-50%, -50%);
       z-index: 991;
     }

     .header-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display:none;
     }

     .active{
        display: flex;
     }

     .header-menu li:last-child a{
        margin-top:10px;
     }
     
     h2{
        font-size:1.75rem;
        margin-bottom:30px;
     }
     .slider{
        height: 60vh;
     }

     .slider-content{
        width:90%;
     }
    .slider-content p{
        margin-top:20px;
        font-size: 1.5rem;
        text-wrap:balance;
    }
     h1{
        font-size:2rem;
     }

     p{
        font-size: 1rem;
        text-wrap: balance;
     }

     .toColumn{
        flex-direction: column;
     }

     .mCenter{
        justify-content: center;
        align-items: center;
        text-align: center;
     }

     .wm100{
        width:100% !important;
     }

     .section{
        padding: 50px 0;
     }

     .boxed{
        max-width: 90%;
     }
}